<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
</head>
<body style="background-color: slategrey; color: black; padding: 20px; display: flex; justify-content: center;">
    <div>
        <div style="text-align: center;">
        <header>
        <h1 style="color: whitesmoke; font-size: xx-large; font-weight: bolder;" >AsciiArt-Web</h1>
        </header>
        </div>

        <div style="height: 400px; background-color: aliceblue; padding: 15px 50px 50px 30px; border-radius: 8px;">

            <form action="/ascii-art" method="POST" style="margin-top: 20px;">
                <div>
                    <label for="text">Enter the text.</label><br>
                    <textarea style="width: 250px; height: 60px;" name="text" id="text" placeholder="Enter the text here"></textarea>
                </div>

                <div>
                    <input style="margin: 10px;" type="radio" name="banner" value="standard.txt" id="standard">
                    <label for="standard">standard</label>
                </div>

                <div>
                    <input style="margin: 10px;" type="radio" name="banner" value="shadow.txt" id="shadow">
                    <label for="shadow">shadow</label>
                </div>

                <div>
                    <input style="margin: 10px;" type="radio" name="banner" value="thinkertoy.txt" id="thinkertoy">
                    <label for="thinkertoy">thinkertoy</label>
                </div>
                <div>
                    <button style="padding: 10px; margin-top: 25px; width: 250px;" type="submit">Generate ASCII-Art</button>
                </div>
            </form>
        </div>
        <pre>{{.}}</pre>
    </div>
</body>
</html>