<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building HTTP Server</title>
</head>
<body>
    <div>
        <header>
            <h1>My Server</h1>
        </header>
    </div>
    <form>
        <div>
            <label for="text">Enter the text.</label>
            <textarea name="text" id="text" placeholder="Enter the text here"></textarea>
        </div>
        <div>
            <label for="standard">standard</label>
            <input type="radio" name="banner" id="standard.txt">
        </div>
    </form>
    
</body>
</html>